.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-body { 
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

@media (min-width: 900px){
  .wrapper {
    padding-top: 20px;
    padding-right: 20%;
    padding-left: 20%;
    padding-bottom: 20px;
    flex: 1;
  }
}
@media (max-width: 900px){
  .wrapper {
    padding-top: 20px;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 20px;
    flex: 1;
  }
}

